* {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: #2B587A; }

body {
  font: 13px Tahoma, Arial, Helvetica, sans-serif;
  overflow-y: scroll;
  color: #4a4a4a;
  background-color: #e2e2e2; }

img {
  max-width: 100%;
  height: auto; }

#admin_block {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 10px 0px 10px 6px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8); }
  #admin_block ul {
    list-style: none; }
    #admin_block ul li {
      position: relative;
      z-index: 11; }
      #admin_block ul li ul {
        position: absolute;
        left: 194px;
        top: 0px;
        display: none;
        width: 200px;
        z-index: 12;
        background-color: rgba(0, 0, 0, 0.8); }
        #admin_block ul li ul li {
          height: 50px;
          padding: 16px 6px 2px 10px;
          color: #fff; }
        #admin_block ul li ul li:hover {
          background-color: rgba(0, 0, 0, 0.9); }
    #admin_block ul li:hover ul {
      display: block; }
  #admin_block .item_wrap {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 12px; }
    #admin_block .item_wrap .item_icon {
      font-size: 32px;
      text-align: center;
      vertical-align: middle;
      padding: 5px 0 2px 0;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      color: #b5b5b5;
      background-color: #3e3e3e; }
    #admin_block .item_wrap .item_title {
      padding: 17px 6px 2px 2px;
      color: #d0d0d0; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 12px;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8); }
  #header a {
    color: #fff; }

#wrapper {
  position: relative;
  width: 100%;
  min-height: 800px;
  margin: 0;
  padding: 50px 10px 10px 220px; }

#title {
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 10px;
  background-color: rgba(179, 179, 179, 0.5); }

#left_block {
  width: 65%;
  margin-right: 2%; }

.block_content {
  min-height: 200px;
  border-radius: 2px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff; }
  .block_content .title {
    padding: 8px 10px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0; }
  .block_content .content {
    padding: 10px; }

#right_block {
  width: 33%; }

.fl_l {
  float: left; }

.fl_r {
  float: right; }

.clear_fix {
  display: block; }

.clear_fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/*# sourceMappingURL=style.css.map */
