.myselect_wrapper {
    position: relative;
    display: block;
    width: 230px;
    cursor: pointer;
    margin: 4px 0;
}

.myselect_wrapper .myselect_select {
    position: relative;
    height: 32px;
    padding: 0 30px 0 0;
    border: 1px solid #C3CBD4;
    border-radius: 4px;
}

.myselect_wrapper .myselect_select_text {
    position: relative;
    padding: 7px 4px 8px 12px;
}

.myselect_wrapper .myselect_select_trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 100%;
    border-left: 1px solid #CCC;
}

.myselect_wrapper .myselect_select_trigger .myselect_select_trigger_arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 5px solid #999;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}


.myselect_wrapper .myselect_dropdown {
    position: absolute;
    left: 0px;
    top: auto;
    bottom: auto;
    display: none;
    height: auto;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 2px 2px 8px 2px #E6E6E6;
    z-index: 60;
}

.myselect_wrapper .myselect_dropdown ul {
    position: relative;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.myselect_wrapper .myselect_dropdown li {
    min-height: 18px;
    padding: 10px 10px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    color: #231F20;
    cursor: pointer;
}

.myselect_wrapper .myselect_dropdown li:hover {
    background-color: #EFEFEF;
}




















.form {
    /*background-color: #f6e0e0;*/
    padding: 4px;
    position: relative;
}

.form .form_control {
    padding: 6px;
    border: 1px solid #ccc;
    margin: 4px 0;
    min-width: 230px;
    border-radius: 6px;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form .form_control:focus {
    border-color: #66afe9;
    outline: 0;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form input[type="submit"] {
    background-color: #8BB6D2;
    padding: 7px 12px 8px 12px;
    cursor: pointer;
    color: #fff;
    margin-top: 6px;
}

.form textarea {
    padding: 6px;
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    resize: none;
    overflow: hidden;
    margin-bottom: 4px;
    display: block;
    border-radius: 0 0 6px 6px;
    word-wrap: break-word;
}

.form_comm {
    padding: 4px;
}

.form_comm .inputs_all {

}

.form_comm .comm_textarea {
    padding: 6px;
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    resize: none;
    overflow: hidden;
    margin-bottom: 4px;
    display: block;
    border-radius: 6px;
    word-wrap: break-word;
}

.form_comm .input_submit {
    background-color: #bad2ed;
    margin: 4px 0;
    padding: 8px 10px;
    border-radius: 4px;
}

.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    height: 30px;
    overflow: hidden;
    position: relative;
    width: 230px;
    cursor: pointer;
}

.fileform .textfile {
    float: left;
    padding: 5px 0 6px 4px;
    font-size: 14px;
    cursor: pointer;
}

.fileform .selectbutton {
    background-color: #CACACA;
    border-radius: 3px;
    color: #FFFFFF;
    float: right;
    overflow: hidden;
    padding: 6px;
    font-size: 14px;
    text-align: center;
    min-width: 60px;
}

.fileform .upload{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 28px;
    z-index:3;
    cursor: pointer;
}














.form_user_comment {
    background-color: #F3F3F3;
    border: 1px solid #E8E8E8;
    position: relative;
    margin: 8px 0 4px 0;
}

.form_user_comment .for_text {
    padding: 20px 30px 20px 100px;
    position: relative;
}

.form_user_comment .image {
    background-color: #D0D0D0;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 20px;
}

.form_user_comment .message {
    padding: 6px;
    border: 1px solid #ccc;
    width: 100%;
    height: 70px;
    resize: none;
    display: block;
    word-wrap: break-word;
}

.form_user_comment .for_button {
    background-color: #fff;
    padding: 10px 20px;
}

.form_user_comment .for_button input[type="submit"],
.form_user_comment .for_button input[type="reset"] {
    background-color: #A2C2D6;
    padding: 8px 10px;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.form_user_comment .for_button input[type="reset"] {
    background-color: transparent;
    color: #656763;
}










.wrapper_radio_b {
    margin: 10px 0 5px 0;
}

.wrapper_radio_b .item_radio_b {
    display: inline-block;
    padding: 4px;
}

.wrapper_radio_b input[type="radio"] {
    display: none;
}
.wrapper_radio_b input[type="radio"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 26px;
}
.wrapper_radio_b input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 1px;
    top: -2px;
    height: 18px;
    width: 18px;
    background-color: #E4E4E4;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
}
.wrapper_radio_b input[type="radio"] + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    height: 10px;
    width: 10px;
    background-color: #D8D8D8;
    box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    -webkit-box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    -moz-box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.wrapper_radio_b input[type="radio"]:checked + label::after {
    box-shadow: inset 1px 1px 4px 3px #66ABD6;
    -webkit-box-shadow: inset 1px 1px 4px 3px #66ABD6;
    -moz-box-shadow: inset 1px 1px 4px 3px #66ABD6;
}


.wrapper_checkbox_b {
    margin: 10px 0 5px 0;
}

.wrapper_checkbox_b .item_checkbox_b {
    display: inline-block;
    padding: 4px;
}

.wrapper_checkbox_b input[type="checkbox"] {
    display: none;
}
.wrapper_checkbox_b input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 26px;
}
.wrapper_checkbox_b input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 1px;
    top: -2px;
    height: 18px;
    width: 18px;
    background-color: #F5F5F5;
    border: 1px solid #BDBDBD;
    border-radius: 2px;
}
.wrapper_checkbox_b input[type="checkbox"] + label::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    height: 10px;
    width: 10px;
    background-color: #D8D8D8;
    box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    -webkit-box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    -moz-box-shadow: inset 2px 2px 4px 0 #A9A9A9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.wrapper_checkbox_b input[type="checkbox"]:checked + label::after {
    box-shadow: inset 1px 1px 4px 3px #66ABD6;
    -webkit-box-shadow: inset 1px 1px 4px 3px #66ABD6;
    -moz-box-shadow: inset 1px 1px 4px 3px #66ABD6;
}










.redactor_toolbar {
    background-color: #f9f9f9;
    border: 1px #c0cad5 solid;
    border-right: none;
    border-bottom: none;
    list-style: none !important;
    background-image: -webkit-linear-gradient(#f9f9f9, #e6e6e6);
    background-image: linear-gradient(#f9f9f9, #e6e6e6);
}

.redactor_toolbar:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

.redactor_toolbar li {
    border-right: 1px solid #c0cad5;
    padding: 2px;
    list-style: none !important;
}

.redactor_toolbar li:last-child {
    border-left: 1px solid #c0cad5;
}

.redactor_toolbar li span {
    background-image: url('../img/toolbar.png');
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    text-decoration: none;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    zoom: 1;
}

.redactor_bold {
    background-position: -50px;
}
.redactor_underlined {
    background-position: -525px;
}
.redactor_italic {
    background-position: -75px;
}
.redactor_quote {
    background-position: -850px;
}
.redactor_url {
    background-position: -250px;
}
.redactor_spoiler {
    background-position: -600px;
}
.redactor_center {
    background-position: -400px;
}
.redactor_right {
    background-position: -425px;
}
.redactor_left {
    background-position: -375px;
}
.redactor_img {
    background-position: -200px;
}
.redactor_smiles {
    background-position: -275px;
}
.redactor_video {
    background-position: -225px;
}