* {
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans, serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #2B587A;
}

body {
  background: url('../img/bg.jpg') no-repeat top center;
  background-size: cover;
  font: 13px Tahoma, Arial, Helvetica, sans-serif;
  background-color: #ededed;
  color: #4a4a4a;
  overflow-y: scroll;
}


img {
  max-width: 100%;
  height: auto;
}

img.center {
  display: block;
  margin: 0 auto;
}






#admin_block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  overflow: hidden;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);

  .item_wrap {
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 12px;

    .item_icon {
      font-size: 32px;
      text-align: center;
      vertical-align: middle;
      padding: 5px 0 2px 0;
      margin-right: 10px;
      width: 50px;
      height: 50px;
      color: #b5b5b5;
      background-color: #353535;
    }

    .item_title {
      padding: 17px 6px 2px 2px;
      color: #d0d0d0;
    }
  }
}


#wrapper {
  position: relative;
  width: 1000px;
  min-height: 800px;
  margin: 0 auto -80px auto;
  padding: 6px;
  z-index: 2;
  background-color: #fff;
}

#header {
  position: relative;
  width: 100%;
  height: 220px;
  border: 2px solid #4375a7;
  background-color: #336699;
  background: -moz-linear-gradient(top, #336699 0%, #003366 100px);
  background: -webkit-linear-gradient(top, #336699 0%,#003366 100px);
  background: linear-gradient(to bottom, #336699 0%,#003366 100%);

  #logo {
    position: absolute;
    left: 24px;
    top: 15px;
    width: 120px;
  }

  #logo_info {
    position: absolute;
    left: 160px;
    top: 48px;
    font-size: 40px;
    font-weight: normal;
    color: #fff;
  }

  #head_time {
    position: absolute;
    right: 260px;
    top: -1px;
    padding: 8px 18px;
    font-size: 14px;
    color: #fff;
    background-color: #2d455d;
  }

  #navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #e6d436;
    background: -moz-linear-gradient(top, #e6d436 0%, #bfad0f 100px);
    background: -webkit-linear-gradient(top, #e6d436 0%,#bfad0f 100px);
    background: linear-gradient(to bottom, #e6d436 0%,#bfad0f 100%);

    ul {
      list-style: none;

      li {
        position: relative;
        list-style: none;
        display: block;
        font-weight: bold;
        padding: 12px 18px;
        color: #2251de;

        ul {
          position: absolute;
          left: 0;
          top: 40px;
          min-width: 240px;
          list-style: none;
          display: none;
          z-index: 10;
          background-color: #e6d116;

          li {
            list-style: none;
            display: block;
            font-weight: normal;
            padding: 10px 8px;
            border-bottom: 1px solid #d0bd14;
            color: #2251de;
          }
        }
      }

      li:hover ul {
        display: block;
      }

      li:hover {
        background-color: #e6d116;
      }
    }
  }
}



#content {
  padding: 10px 0;
}

#left_content {
  width: 680px;

  #block_news {
     min-height: 400px;
     padding: 10px;
     margin-bottom: 16px;
     background-color: #e3eff8;

     .block_news_title {
       padding: 10px 10px 10px 18px;
       color: #fff;
       font-weight: bold;
       background-color: #1365bb;
       background: -moz-linear-gradient(top, #4985c1 0%, #185490 100px);
       background: -webkit-linear-gradient(top, #4985c1 0%,#185490 100px);
       background: linear-gradient(to bottom, #4985c1 0%,#185490 100%);
     }

     .items_wrap {

       .item {
         position: relative;
         width: 309px;
         height: 96px;
         margin: 10px;
         padding: 10px 10px 10px 120px;
         border: 1px solid #b8d3e8;
         background-color: #fff;

         .img_wrap {
           position: absolute;
           left: 10px;
           top: 10px;
           width: 100px;
           height: 75px;
           overflow: hidden;
           margin-right: 10px;
           background-color: #adcfe6;
         }

         .item_title {
           padding-bottom: 8px;
           font-weight: bold;
           color: #174ea2;
           border-bottom: 1px solid #adcfe6;
         }

         .item_info {
           position: absolute;
           left: 130px;
           bottom: 10px;
           font-size: 11px;
           color: #566e92;
         }
       }
     }
   }

  #block_news_video {
    min-height: 400px;
    padding: 10px;
    background-color: #e3eff8;

    .block_video_title {
      padding: 10px 10px 10px 18px;
      color: #fff;
      font-weight: bold;
      background-color: #1365bb;
      background: -moz-linear-gradient(top, #4985c1 0%, #185490 100px);
      background: -webkit-linear-gradient(top, #4985c1 0%,#185490 100px);
      background: linear-gradient(to bottom, #4985c1 0%,#185490 100%);
    }

    .items_wrap {

      .item {
        position: relative;
        width: 209px;
        height: 240px;
        margin: 5px;
        padding: 6px;
        border-radius: 2px;
        border: 1px solid #b8d3e8;
        background-color: #fff;

        .img_wrap {
          width: 100%;
          height: 130px;
          overflow: hidden;
          background-color: #adcfe6;
        }

        .item_title {
          margin-top: 10px;
          padding: 6px 6px 4px 8px;
          font-weight: bold;
          color: #616161;
          border-top: 1px solid #d2d2d2;
        }

        .item_time {
          font-size: 11px;
          padding: 2px 6px 8px 10px;
          color: #a2a2a2;
        }
      }
    }
  }
}

#right_content {
  width: 300px;

  .menu_wrapper {
    min-height: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e3eff8;

    .menu_title {
      padding: 10px 10px 10px 18px;
      color: #fff;
      font-weight: bold;
      background-color: #1365bb;
      background: -moz-linear-gradient(top, #4985c1 0%, #185490 100px);
      background: -webkit-linear-gradient(top, #4985c1 0%,#185490 100px);
      background: linear-gradient(to bottom, #4985c1 0%,#185490 100%);
    }

    .match_wrapper {
      height: 141px;

      .match_info {
        text-align: center;
        padding: 3px 0;
      }

      .match_table {
        display: table;
        width: 100%;
        height: 74px;
        font-weight: bold;
        text-align: center;

        .left_logo {
          display: table-cell;
          width: 40%;
          font-size: 14px;
        }

        .center_score {
          display: table-cell;
          width: 20%;
          font-size: 24px;
          vertical-align: middle;
        }

        .right_logo {
          display: table-cell;
          width: 40%;
          font-size: 14px;
        }
      }
    }
  }
}







.news_view {
  padding: 6px;
  border-right: 2px solid #e3eff8;

  .block_info {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #edf4f9;
  }

  .block_title {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    color: #5d8bad;
    border-bottom: 1px solid #e3eff8;
    background-color: #e3eff8;
  }

  .block_text {
    padding: 10px;
  }

  .block_tags {
    padding: 10px;
    margin: 4px 4px 4px 12px;
    border-left: 4px solid #88B0CA;
  }

  .recommended {

    .title {
      padding: 10px;
      margin-top: 18px;
      font-weight: bold;
      border-bottom: 1px solid #d0caca;
      color: #356990;
      background-color: #f7f7f7;
    }

    .items_wrap {
      background-color: #f7f7f7;

      .item {
        position: relative;
        width: 312px;
        height: 90px;
        margin: 10px;
        padding: 10px 10px 10px 120px;
        border: 1px solid #b8d3e8;
        background-color: #f5f9fb;

        .img_wrap {
          position: absolute;
          left: 10px;
          top: 10px;
          width: 100px;
          height: 68px;
          overflow: hidden;
          margin-right: 10px;
          background-color: #adcfe6;
        }
      }
    }
  }
}






#footer {
  position: relative;
  min-height: 260px;
  z-index: 1;
  border-top: 12px solid #005094;
  background-color: rgba(0, 0, 0, 0.5);

  #width_limit {
    position: relative;
    width: 1000px;
    margin: 90px auto 0 auto;
    padding: 4px 20px 20px 20px;
  }
}







.fl_l {
  float: left;
}

.fl_r {
  float: right;
}

.clear_fix {
  display: block;
}

.clear_fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}